.custom-headerbar {
  background: @window_bg_color;
}

.disclosure-button button {
  border-radius: 999px;
}

#accelerator-main-window.with-borders:not(.fullscreen):not(.maximized):not(.tiled-left):not(.tiled-right) {
  border: 1px solid @borders;
}

#accelerator-main-window {
  background: transparent;
}

.custom-headerbar headerbar windowhandle > box {
  padding: 0;
}

.custom-headerbar:backdrop windowhandle { filter: none; }

.custom-headerbar:backdrop > * { filter: opacity(0.5); }

tab {
  border-radius: 0;
  border: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-top: 0;
}

.transparent {
  background: transparent;
}

tabboxchild  {
  margin: 0;
  border-radius: 0;
}

tab:selected {
  background: @card_bg_color;
}

#accelerator-main-window.with-borders tab:selected,
#accelerator-main-window.with-borders .custom-headerbar headerbar .title-label {
  border-left-color: @borders;
  border-right-color: @borders;
}

#accelerator-main-window.with-borders .custom-headerbar .title-label,
#accelerator-main-window.with-borders .custom-headerbar .title-label {
  margin-left: -8px;
}

.custom-headerbar:not(.with-dragarea) tabbar {
  margin-left: -8px;
}

.custom-headerbar.with-dragarea tabbar {
  margin-left: 34px;
}

tabbox background {
  background: transparent;
}

.toolbar {
  background-color: @window_bg_color;
}

.toolbar > * {
  padding: 2px 8px;
}

.thumbnail picture {
  border: 2px solid transparent;
}

.thumbnail picture.selected {
  border-color: @accent_bg_color;
}

.thumbnail image {
  background-color: @accent_bg_color;
  border-radius: 9999px;
  padding: 2px;
  color: white;
  margin: 8px;
}

window:not(.about) .floating-revealer > headerbar {
  background: transparent;
}

.floating-btn-box button,
.floating-btn-box separator{
  margin: 0;
  outline: 0;
}

.floating-btn-box {
  border-radius: 8px;
}

.floating-revealer menubutton button,
.floating-btn-box,
.floating-revealer windowcontrols image {
  background: @window_bg_color;
}

.floating-revealer menubutton button:hover,
.floating-btn-box button:hover,
.floating-revealer windowcontrols image:hover {
  background: lighter(@window_bg_color);
}

.floating-btn-box button {
  border-radius: 0;
}
.floating-btn-box button:first-child {
  padding-left: 4px;
}
.floating-btn-box button:last-child {
  padding-right: 4px;
}

.shortcut-row {
  padding: 12px;
}
