vte-terminal { padding: 4px 4px 4px 4px; }

.custom-headerbar {
  background: @surface_bg_color;
  box-shadow: inset 0 2px 0 1px alpha(white, .5);
}

.disclosure-button button {
  border-radius: 999px;
  background: none;
  margin: 0;
}
.disclosure-button button:hover {
  background: alpha(@accent_color, 0.08);
}
.disclosure-button button:checked {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.disclosure-button button:active {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.disclosure-button {
  background: alpha(@accent_color, 0.05);
  padding: 0;
}
.disclosure-button:hover {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.disclosure-button:active {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.disclosure-button .toggle,
.disclosure-button.image-button {
  padding: 4px;
}
.disclosure-button .toggle {
  box-shadow: none;
}
.disclosure-button:hover .toggle {
  background: none;
}
.disclosure-button:active .toggle {
  background: none;
}

.accelerator-main-window.with-borders:not(.fullscreen):not(.maximized):not(.tiled-left):not(.tiled-right) {
  border: inset 1px solid @border_color;
}

.accelerator-main-window {
  background: transparent;
}

.custom-headerbar windowhandle > box {
  padding: 0;
}

.custom-headerbar:backdrop windowhandle { filter: none; }

.custom-headerbar:backdrop * { filter: opacity(0.95); }

tab {
  border-radius: 0;
  border: none;
  margin-top: 2px;
  margin-bottom: -4px;
  min-width: 200px;
  min-height: 32px;
}

.transparent {
  background: transparent;
}

.tab-child  {
  margin: 0;
  border-radius: 4px 4px 0 0;
}

.tab-child.active {
  background: @surface_container_bg_color;
}

.tab-child label {
  padding: 0 6px;
  margin: -4px 0;
}

.tab-child button {
  margin: -4px 6px 0 0;
  border-radius: 999px;
}

.accelerator-main-window.with-borders tab:selected,
.accelerator-main-window.with-borders .custom-headerbar .title-label {
  border-left-color: @border_color;
  border-right-color: @border_color;
}

.accelerator-main-window.with-borders .custom-headerbar .title-label,
.accelerator-main-window.with-borders .custom-headerbar .title-label {
  margin-left: -8px;
}

.custom-headerbar:not(.with-dragarea) notebook {
  margin-left: 12px;
}

.custom-headerbar.with-dragarea notebook {
  margin-left: 42px;
}

notebook {
  background: transparent;
}

.toolbar {
  background-color: @surface_bg_color;
}

.toolbar > * {
  padding: 2px 8px;
}

.thumbnail picture {
  border: 2px solid transparent;
}

.thumbnail picture.selected {
  border-color: @accent_bg_color;
}

.thumbnail image {
  background-color: @accent_bg_color;
  border-radius: 12px;
  padding: 2px;
  color: white;
  margin: 8px;
}

window:not(.about) .floating-revealer > headerbar {
  background: transparent;
}

.floating-btn-box button,
.floating-btn-box separator{
  margin: 0;
  outline: 0;
}

.floating-btn-box {
  border-radius: 8px;
}

.floating-revealer menubutton button,
.floating-btn-box,
.floating-revealer windowcontrols image {
  background: @surface_bg_color;
}

.floating-revealer menubutton button:hover,
.floating-btn-box button:hover,
.floating-revealer windowcontrols image:hover {
  background: lighter(@surface_bg_color);
}

.floating-btn-box button {
  border-radius: 0;
}
.floating-btn-box button:first-child {
  padding-left: 4px;
}
.floating-btn-box button:last-child {
  padding-right: 4px;
}

.shortcut-row {
  padding: 12px;
}
